
<div class="login-form">
    <h1>Welcome</h1>
    <span class="register">Login your account</span>

    <form action="/login" enctype="multipart/form-data" method="POST">
      <input
        class="input"
        type="text"
        name="name"
        placeholder="Enter your name"
        required
      />
      
      <input
        class="input"
        type="email"
        name="email"
        placeholder="Enter your email"
        required
      />
     
      <input
        class="input"
        type="password"
        name="password"
        placeholder="Enter your passowrd"
        required
      />

      <button type="submit" class="login_btn">Login</button>
    </form>
   
    <div class="social">
      <span class="social_media">- Create account with - </span>
      <div class="social_images">
        <img src="/Img/facebook-icon.png" alt="" />
        <img src="/Img/google-icon.png" alt="" />
        <img src="/Img/linkedin-icon.png" alt="" />
       
      </div>
      <button class="btn_sign"><a href="/signup" style="color:black"> Sign Up</a></button>
    </div>
  </div>

     